// Styling for cover page of presentation

// Currently unimplemented slide types from ODP template:
//
// title with large header font and no subheading
//   h1 60pt (100px), top 1.6" (192), width 9" (1080)
//
// title slide with big picture (subheading at bottom)
//   h1 32pt medium, width 7" (840), top 2.2" (264), left 0.8", height 1.5" (180)
//   h2 18pt light, width 4.2" (304), height 1", top 4.2" (304)
//   date: Poppins SemiBold 10pt (16), top 0.8"

@mixin cover($bg_image) {
    .slides {
        .pdf-page, > section {
            width: 100%;
            height: 100%;
        }

        background:
            url(../images/SUSE/SUSE-logo.svg)
               5% 5%              //  x/y positions
             / 15% 15%              //  x/y sizes
                no-repeat,
            url('../images/SUSE/' + $bg_image + '.png')
               0% 100%
             / 100% 40%
               no-repeat,
            $pine;

        position: relative;

	// ODP: Poppins SemiBold 10pt, bottom 5"
        .date-location {
            color: $jungle;
            text-transform: uppercase;
            font-size: 16px;
	    font-weight: 600;
            position: absolute;
            bottom: 660px - 60px;
            left: 0;
	    letter-spacing: 1px;
        }

        .title {

	    div {
		position: absolute;
		top: 0px;
		left: 0;
		width: 100%;
	    }

            h1, h2, h3, h4, h5, h6 {
                color: white;
            }

	    // title slide with subheading on the right side and "infinity image" at bottom
	    //
	    //   h1 32pt medium, width 5.1" (612), bottom-aligned bottom 3.9" (468), left 0.8", height 1" (120)
	    //   h2 18pt light, width 3.8" (456), height 1", top 2.7" (320), left 8.75" (1050)
	    // Note these are inside "section", thus the section margins have to be subtracted.
	    // Subtraction between different units (% and px) is unsupported, thus absolute values here:
	    // 60px = 0.5" = $section-top-margin
	    // 96px = 0.8" = $section-left-margin
           h1 {
		position: absolute;
		left: 0;
                width: 612px;
		bottom: 468px - 60px;
		float: left;
            }

            h2 {
		position: absolute;
                left: 1050px - 96px;
                width: 456px;
		bottom: 468px - 60px;
		// ODP: subheading: 18pt
		font-size: 30px;
            }
        }


        text-align: inherit;


        .qr-embedded {
            position: absolute;
            top: -2%;
            right: 7%;
            width: 30%;
            height: 30%;

            .qrcode {
                position: relative;
                left: 30%;
            }

            h2 {
                font-size: 90%;
                text-align: right;
                margin-top: 0%;
                margin-right: 14%;
                a {
                    color: white !important;
                }
            }
        }
    }

    h1, h2, h3 {
        margin-bottom: 0em;
    }

    @include no-slide-numbers;
}

.cover .reveal {
    @include cover("infinity");
}


.cover-alternate .reveal {
    @include cover("infinity-mars");
}
