// Styling for the dividers

.blue .reveal {
    .slides {
        background:
            url(../images/SUSE/top-bar.png)
               0% 0%
            / 100% 0.5%
               no-repeat,
            linear-gradient(180deg, $midnight 70%, $waterhole 30%) !important;
    }
}

.divider .reveal {
    .slides {
        background:
            url(../images/SUSE/top-bar.png)
               0% 0%
            / 100% 0.5%
               no-repeat,
            linear-gradient(180deg, $pine 70%, $jungle 30%);

        img {
            width: 60%;
            height: 85%;
            position: relative;
            border-radius: 5%;
            display: block;
            left: 40%;
        }

        h1, h2 {
            text-align: left;
            margin-bottom: 0.8em;
            color: white;
            font-size: 4rem;
            font-weight: normal;
            float: left;
            width: 38%;
            top: 30%;
            position: absolute;
        }

        h2 {
            font-size: 1em;
            top: 65%;
        }
    }

    @include copyright(white, $pine);
}


.subdivider .reveal {
    .slides {
        background:
            url(../images/SUSE/top-bar.png)
               0% 0%
            / 100% 0.5%
               no-repeat,
            $jungle;

        img {
            width: 60%;
            height: 85%;
            position: relative;
            border-radius: 5%;
            display: block;
            left: 40%;
        }

        h1, h2 {
            text-align: left;
            margin-bottom: 0.8em;
            color: white;
            font-size: 4rem;
            font-weight: normal;
            float: left;
            width: 38%;
            top: 30%;
            position: absolute;
        }

        h2 {
            font-size: 1em;
            top: 65%;
        }
    }

    @include copyright(white, $pine);
}

