// Styling for the dividers

@mixin divider_layout {
    img {
        position: absolute;
        height: 100%;
        max-height: 100%;
        width: 900px;
        max-width: 900px;
        margin: 0;
        right: 0;
	bottom: 0;
        border-radius: 0;
        padding-top: 1%;
        overflow: hidden;
	object-fit: contain;
    }

    // divider slide ODS template (see _variables.scss)
    // h1 32pt medium, top margin 3" (360), width 4" (480), left 0.8"
    // h2 title 18pt light, top 5,5" (660)
    h1, h2 {
        text-align: left;
        color: white;
        float: left;
        width: 480px;
	left: $section-left-margin;
        position: absolute;
	margin: 0;
    }

    h1 {
	bottom: 360px;
    }

    h2 {
	// ODP: subheading: 18pt
	font-size: 30px;
        top: 660px;
    }

}

@mixin background_colors($col1, $col2) {
    background:
        url(../images/SUSE/top-bar.png)
        0% 0%
        / 100% 1%
        no-repeat,
        linear-gradient(180deg, $col1 70%, $col2 30%) !important;
}

.blue .reveal {
    .slides {
	@include background_colors($midnight, $waterhole);
    }
}

.divider .reveal {
    .slides {
	@include background_colors($pine, $jungle);
	@include divider_layout;
    }

    @include slide-numbers(white, $pine);
}


.subdivider .reveal {
    .slides {
        background:
            url(../images/SUSE/top-bar.png)
               0% 0%
            / 100% 1%
               no-repeat,
            $jungle;

	@include divider_layout;
    }

    @include slide-numbers(white, $pine);
}

.reveal .slides .pdf-page > section.divider {

    @include background_colors($pine, $jungle);
    @include divider_layout;
}

.reveal .slides .pdf-page > section.subdivider {

    @include background_colors($pine, $jungle);
    @include divider_layout;
}

/* divider customization to have an image covering  a square area (width = height) 
   on the right side entirely */
#divider, #divider-blue,
#subdivider, #subdivider-blue {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;

    a {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 900px;
        overflow: hidden;

    }
}
