// Styling for the dividers

.blue .reveal {
    .slides {
        background:
            url(../images/SUSE/top-bar.png)
               0% 0%
            / 100% 0.5%
               no-repeat,
            linear-gradient(180deg, $midnight 70%, $waterhole 30%) !important;
    }
}

.divider .reveal {
    .slides {
        background:
            url(../images/SUSE/top-bar.png)
               0% 0%
            / 100% 0.5%
               no-repeat,
            linear-gradient(180deg, $pine 70%, $jungle 30%);

        img {
            width: 60%;
            height: 85%;
            position: relative;
            border-radius: 5%;
            display: block;
            left: 40%;
        }

	// divider slide ODS template (see _variables.scss)
	// h1 32pt medium, top margin 3" (360), width 4" (480), left 0.8"
	// h2 title 18pt light, top 5,5" (660)
        h1, h2 {
            text-align: left;
            color: white;
            float: left;
            width: 480px;
	    left: $section-left-margin;
            position: absolute;
	    margin: 0;
        }

	h1 {
	    bottom: 360px;
	}

        h2 {
	    // ODP: subheading: 18pt
	    font-size: 30px;
            top: 660px;
        }
    }

    @include copyright(white, $pine);
}


.subdivider .reveal {
    .slides {
        background:
            url(../images/SUSE/top-bar.png)
               0% 0%
            / 100% 0.5%
               no-repeat,
            $jungle;

        img {
            width: 60%;
            height: 85%;
            position: relative;
            border-radius: 5%;
            display: block;
            left: 40%;
        }

	// subdivider slide ODS template (see _variables.scss)
	// h1 32pt medium, bottom 3.7" (404), width 4" (480), left 0.8"
	// h2 title 18pt light, top 5,5" (660)
        h1, h2 {
            text-align: left;
            color: white;
            float: left;
            width: 480px;
	    left: $section-left-margin;
            position: absolute;
	    margin: 0;
        }

	h1 {
	    bottom: 360px;
	}

        h2 {
	    font-size: 30px;
            top: 660px;
        }
    }

    @include copyright(white, $pine);
}


/* divider customization to have an image covering the right-half part of the slide entirely */
#divider, #divider-blue,
#subdivider, #subdivider-blue {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;

    a {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        overflow: hidden;

        img {
            position: absolute;
            height: 100%;
            max-height: 100%;
            width: 100%;
            max-width: 100%;
            margin: 0;
            left: auto;
            right: auto;
            border-radius: 0;
            padding-top: 4px;
        }
    }
}