@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700);

@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src:
    local('Special Elite'),
    local('SpecialElite-Regular'),
    url(../fonts/Special-Elite.ttf) format('truetype');
}
