@mixin copyright($fg: $pine, $bg: white) {
    $chameleon: if($fg == white, 'chameleon-white.svg', 'chameleon.svg');
    .slide-number {

        &:after {
            content: "Copyright © SUSE 2021";
	    display: inline-block;
            color: $fg;
	    // distance to actual slide number
	    margin-left: 0;
        }

        &:before {
            content: url('../images/SUSE/' + $chameleon);
	    display: inline-block;
	    vertical-align: middle;
	    // Width should match scale
	    // Orig image width is 105px
	    transform: scale(0.5);
	    width: 55;
	    // distance to actual slide number
	    margin-right: 0;
        }
    }
}

@mixin slide-numbers($fg: $pine, $bg: white) {
            .slide-number {
                position: absolute;

                // Unfortunately reveal.js sets dom.slideNumber.style.display
                // in the code so we need !important to override it.  This
                // overrides the slideNumber config option, but slide numbers
                // are part of this theme anyway.
                // display: inline-block !important;

		// The slide number is not placed inside the slide (.slides section),
		// but inside the viewport, which may be much larger than the slide itself.
		// The values below work well for slides in 16:9 full-screen mode
                left: 0.7 * $section-left-margin;
                bottom: 0.20 * $section-top-margin;
		// Make sure it doesn't hide slide borders or progress bar
                background-color: transparent;
		z-index: 1;

		span {
                    font-size: 14px;
                    color: $fg;
		    display: inline-block;
		    transform: translateX(1200px);
		}
            }
    @include copyright($fg, $bg);
}

@mixin no-slide-numbers {
    .slide-number {
        display: none !important;
    }
}
